<% if flash[:notice] %>
  <p><%=flash[:notice] %> </p>
  <% flash[:notice] = nil %>
<% end %>
<% if user_signed_in? %>
 <%= link_to 'login', login_path %>
<% else %> 
  <h1>Hello <%= "#{current_user.first_name} #{current_user.last_name}" %> !</h1>
 <%= link_to 'logout', logout_path %>
<% end %>
